.navbar-default .navbar-brand {
    color: #fff;
    background: #0BF997;
}

a.navbar-brand {
    padding: 0;
}

a.navbar-brand img {
    height: 100%;
}

div#bar {
    display: block;
    height: 26px;
    margin-top: 16px;
    width: 100%;
    background: aquamarine;
}

div#bar div {
    display: inline-block;
    height: 100%;
    /*transition: all 0.4s ease;*/
}

#playerMachine input[type=checkbox], input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    width: 100%;
    height: 55px;
    background: aquamarine;
    border: solid 1px white;
    transition: all 0.3s ease;
}

#playerMachine input[type=checkbox]:checked {
    background: bisque;
    transition: all 0.3s ease;
}

fieldset > label:nth-child(1) {
    width: 100%;
}

#playerMachine fieldset label span {
    display: none;
}

.steps.on {
    background: darkcyan;
    transition: all 0.7s ease;
}

button#createUser {
    left: 50%;
    margin-left: -66px;
    bottom: 25%;
    position: absolute;
    text-align: center;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

section#all_loops .row > div {
    position: relative;
    margin-bottom: 25px;
    animation: appear 2s ease;
    transition: all 0.3s ease;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -webkit-font-smoothing: subpixel-antialiased;
}

/*section#all_loops .row > div:nth-child(1){*/
    /*animation-delay: 0s;*/
/*}*/

/*section#all_loops .row > div:nth-child(2){*/
    /*animation-delay: 1s;*/
/*}*/

/*section#all_loops .row > div:nth-child(3){*/
    /*animation-delay: 2s;*/
/*}*/

/*section#all_loops .row > div:nth-child(4){*/
    /*animation-delay: 3s;*/
/*}*/

/*section#all_loops .row > div:nth-child(5){*/
    /*animation-delay: 4s;*/
/*}*/

/*section#all_loops .row > div:nth-child(6){*/
    /*animation-delay: 7s;*/
/*}*/

/*section#all_loops .row > div:nth-child(7){*/
    /*animation-delay: 8s;*/
/*}*/

section#all_loops .row > div:nth-child(8){
    animation-delay: 2s;
}

section#all_loops .row > div:hover {
    /*transform: translateZ(0) scale(1.15);*/
    /*transition: all 0.6s ease;*/
}

section#all_loops .row > div:hover button.play {
    display: block;
}

.inside-col {
    background: bisque;
    height: 100%;
    width: 100%;
    display: block;
}

.inside-col h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #337ab7;
    font-size: 17px;
}

.progress-bar {
    float: left;
    width: 100%;
    height: 7px;
    display: block;
    position: relative;
}

.progress-bar span {
    display: block;
    float: left;
    height: 7px;
}

.progress-bar span.on {
    background: #0bf997;
}

.img-loop {
    padding: 22%;
    position: relative;
}

button.play {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}

.create-own h3 {
    padding: 16%;
    font-size: x-large;
}

section#machineSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8%;
    background: #f8f8f8;
}

section#masthead {
    height: 500px;
}

section#masthead h1 {
    margin-top: 141px;
}